<section id="about">
    <div class="container">
        <h2><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/twink.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'about.jobTitle' | translate}}</h3>
                <p class="font-italic">
                    {{'about.introductionOfMe' | translate}}
                    
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> {{'about.mobility' | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> New Delhi, India</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:twinklejaiswal8485@gmail.com">
                                        twinklejaiswal8485@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 23 {{'about.years' | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> {{'about.graduation' | translate}}</strong>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>