<section id="contact" style="background-color: black;">
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p><i class="fa-solid fa-envelope"></i> twinklejaiswal8485@gmail.com</p>
          <p><i class="fa-solid fa-phone"></i> +91 XXXXXXXXXX</p>
          <div class="social-icons">
            
            
            <a target="_blank" href="https://www.linkedin.com/in/twinklejaiswal8485/"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a target="_blank" href="https://github.com/twinklejaiswal8485"
              ><i class="fa-brands fa-github"></i
            ></a>
            
            <a target="_blank" href="https://twitter.com/twinklejaiswal8485"
              ><i class="fab fa-x-twitter"></i
            ></a>
          </div>
          <a href="./../../Angular_Resume.pdf" download class="btn btn2"
            >Download Resume</a
          >
        </div>

        <div class="contact-right">
          <form name="submit-to-google-sheet">
            <input type="text" name="Name" placeholder="Your Name" required />
            <input
              type="email"
              name="Email"
              placeholder="Your Email"
              required
            />
            <textarea
              name="Message"
              rows="5"
              placeholder="Your Message"
              required
            ></textarea>
            <button type="Submit" class="btn btn2">Submit</button>
          </form>
          <span id="msg"></span>
        </div>
      </div>
    </div>
    <div class="copyright" style="margin-top: 60px;">
      <p>
        Copyright 2024 © Twinkle Jaiswal. All rights reserved.
      </p>
    </div>
  </div>
</section>
